* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.users {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    padding: 16px 32px;
    box-shadow: 0 8px 16px rgba(93, 93, 93, 0.16);
    background-color: gray;
    font-family: sans-serif;
    text-align: center;
    width: 200px;

}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

.login {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
}

footer{
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;

}


.floatingheader {
    position: relative;
    top: -15vh;
  max-width: 150%;
  }
  
  .floatingheader {  
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 30px;
      margin-top: 5px;
  }
  
  @keyframes floating {
      from { transform: translate(0,  0px); }
      65%  { transform: translate(0, 15px); }
      to   { transform: translate(0, -0px); }    
  }






  